<div class="d-flex flex-column p-5 gap-2">
  <div>
    <label for="hostname" class="form-label">Hostname</label>
    <input type="text" class="form-control" id="hostname" [(ngModel)]="hostname">
  </div>
  <button type="button" class="btn btn-primary" (click)="onConnect()">CONNECT</button>
  <button type="button" class="btn btn-primary" (click)="onDisconnect()">DISCONNECT</button>

  <hr>

  <h4>Devices</h4>
  <button type="button" class="btn btn-primary" (click)="onGetDevices()">GET DEVICES</button>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Address</th>
          <th scope="col">Position</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let device of devices">
          <th scope="row">{{device.id}}</th>
          <td>{{device.deviceAddress}}</td>
          <td>{{device.position}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr>

  <h4>Upload</h4>
  <div>
    <form [formGroup]="uploadForm" (submit)="onUploadFormSubmit()">
      <div class="mb-2">
        <label for="parameterIndex" class="form-label">Device Reference (address, position, or serial number)</label>
        <input type="text" class="form-control" id="parameterIndex" formControlName="deviceRef">
      </div>
      <div class="mb-2">
        <label for="parameterIndex" class="form-label">Parameter Index</label>
        <input type="text" class="form-control" id="parameterIndex" formControlName="parameterIndex">
      </div>
      <div class="mb-2">
        <label for="parameterSubindex" class="form-label">Parameter Subindex</label>
        <input type="text" class="form-control" id="parameterSubindex" formControlName="parameterSubindex">
      </div>
      <div>
        <button type="submit" class="btn btn-primary mb-3">GET PARAMETER VALUE</button>
      </div>
    </form>
    <div class="alert alert-primary" role="alert">
      <strong>VALUE</strong>: {{parameterValue}}
    </div>
  </div>
</div>
